In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
595,tt0186589,11000000,13276953,Sugar & Spice,Marla Sokoloff|Marley Shelton|Melissa George|M...,Francine McDougall,Why would the most popular girl in school wear...,When Jack (James Marsden) and Diane (Marley Sh...,81,Crime|Comedy,New Line Cinema,1/24/2001,5.4,2001
1196,tt1606378,92000000,304654182,A Good Day to Die Hard,Bruce Willis|Jai Courtney|Sebastian Koch|Mary ...,John Moore,Yippee Ki-Yay Mother Russia,"Iconoclastic, take-no-prisoners cop John McCla...",98,Action|Thriller,Ingenious Media|Twentieth Century Fox Film Cor...,2/6/2013,5.2,2013
1335,tt0369735,43000000,154749918,Monster-in-Law,Jennifer Lopez|Jane Fonda|Michael Vartan|Wanda...,Robert Luketic,This relationship is going to be a real mother.,Office temp Charlotte Cantilini thinks she's f...,101,Comedy,New Line Cinema|Spring Creek Productions|Bende...,5/13/2005,5.7,2005
549,tt0277027,22000000,40270895,I Am Sam,Sean Penn|Michelle Pfeiffer|Dakota Fanning|Dia...,Jessie Nelson,love is all you need,Sam has the mental capacity of a 7-year-old. H...,132,Drama,New Line Cinema,12/28/2001,7.2,2001
127,tt2562232,18000000,103215094,Birdman,Michael Keaton|Zach Galifianakis|Edward Norton...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,or (The Unexpected Virtue of Ignorance),A fading actor best known for his portrayal of...,119,Drama|Comedy,Worldview Entertainment|New Regency Pictures|T...,10/17/2014,7.3,2014

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # make a dictionary for answers

#return profit, based on data of income and expenses
def get_profit(data):
    return data['revenue']-data['budget']

#Count genres in dataset
def genres_counter(data):
    genres_counter = pd.Series()
    for genres in data['genres'].str.split('|'):
        for genre in genres:
            if genre in genres_counter: genres_counter[genre] += 1
            else: genres_counter[genre] = 1
    return genres_counter

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = data[data['budget'] == data['budget'].max()][
                    'original_title'].iloc[0]
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data['runtime'] == data['runtime'].max()][
                    'original_title'].iloc[0]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = data[data['runtime'] == data['runtime'].min()][
                    'original_title'].iloc[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = data['runtime'].mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = data['runtime'].median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
answers['6'] = data[get_profit(data) == get_profit(data).max()][
                    'original_title'].iloc[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [13]:
answers['7'] = data[get_profit(data) == get_profit(data).min()][
                    'original_title'].iloc[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = len(data[get_profit(data)>0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
data_2008 = data[data['release_year']==2008]
answers['9'] = data_2008[get_profit(data_2008) == get_profit(data_2008).max()][
                        'original_title'].iloc[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
data_f12t14 = data[(data['release_year']>=2012)&(data['release_year']<=2014)]
answers['10'] = data_f12t14[get_profit(data_f12t14)==get_profit(
                            data_f12t14).min()]['original_title'].iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [17]:
number_of_genres = genres_counter(data)         
answers['11'] = number_of_genres[
                    number_of_genres == number_of_genres.max()].index[0]
answers['11']

'Drama'

ВАРИАНТ 2

In [18]:
pd.Series(data['genres'].str.cat(sep='|').split(sep='|')).value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
profit_counter = pd.Series()

profit_genres = genres_counter(data[get_profit(data) > 0])
answers['12'] = profit_genres[profit_genres == profit_genres.max()].index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [20]:
directors = pd.Series(data['director'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
for director in directors.index:
    directors[director] = data['revenue'][data['director'].apply(lambda x:
                                True if director in x else False)].sum()
answers['13'] = directors.sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
data_action_films = data[data['genres'].apply(lambda x:
                                            True if 'Action' in x else False)]
directors = pd.Series(data_action_films['director'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
for director in directors.index:
    directors[director] = data_action_films['director'].apply(lambda x: 
                    True if director in x else False).value_counts().loc[True]
answers['14'] = directors.sort_values(ascending=False).index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
data_2012 = data.query('release_year == 2012')
cast = pd.Series(data_2012['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)
for actor in cast.index:
    cast[actor] = data_2012['revenue'][data_2012['cast'].apply(lambda x: 
                                        True if actor in x else False)].sum()
answers['15'] = cast.sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
data_high_budget = data.query('budget > budget.mean()')
actors = pd.Series(data_high_budget['cast'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
for actor in actors.index:
    actors[actor] = data_high_budget['cast'].apply(lambda x: 
                        True if actor in x else False).value_counts().loc[True]
answers['16'] =actors.sort_values(ascending=False).index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
data_NCage = data[data['cast'].apply(lambda x: 
                                     True if 'Nicolas Cage' in x else False)]
number_of_genres = genres_counter(data_NCage)         
answers['17'] = number_of_genres[
                    number_of_genres == number_of_genres.max()].index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
data_Paramount = data[data['production_companies'].apply(lambda x: 
                                True if 'Paramount Pictures' in x else False)]
answers['18'] = data_Paramount[get_profit(data_Paramount)==get_profit(
                            data_Paramount).min()]['original_title'].iloc[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
answers['19'] = data.groupby('release_year').sum()['revenue'].sort_values(
                                                    ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
data_WBros = data[data['production_companies'].apply(lambda x: 
                                True if 'Warner Bros' in x else False)].copy()
data_WBros['profit'] = get_profit(data_WBros)
answers['20'] = data_WBros.groupby('release_year').sum()['profit'].sort_values(
                                                    ascending=False).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
data_month = data.copy()
data_month['month'] = pd.to_datetime(data['release_date']).dt.month
data_month['film'] = 1
answers['21'] = data_month.groupby('month').sum()['film'].sort_values(
                                                    ascending=False).index[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
data_month = data.copy()
data_month['month'] = pd.to_datetime(data['release_date']).dt.month
data_month['film'] = 1
answers['22'] = data_month.groupby('month').sum()['film'].iloc[5:8].sum()
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
data_directors = data.copy()
data_directors['month'] = pd.to_datetime(data['release_date']).dt.month
data_directors = data_directors[(data_directors['month']<=2)|(
                                                data_directors['month']>=12)]
directors_winter = pd.Series(data_directors['director'].str.cat(
                            sep='|').split('|')).value_counts(ascending=False)
answers['23'] = directors_winter.index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
companies = films.copy()-films # make Series with zero values
for i in range(0,len(data)):
    for companie in (data.iloc[i]['production_companies'].split('|')):
        companies[companie] += len(data.iloc[i]['original_title'])
answers['24'] = (companies/films).sort_values().index[-1]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
companies = films.copy()-films
for i in range(0,len(data)):
    for companie in (data.iloc[i]['production_companies'].split('|')):
        companies[companie] += len(data.iloc[i]['overview'].split())
answers['25'] = (companies/films).sort_values().index[-1]
answers['25']

'Midnight Picture Show'

Вариант 2

In [53]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
for company in films.index:
    films[company] = data['overview_words_length'][
                        data['production_companies'].map(
                            lambda x: True if company in x else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
films.index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
answers['26'] = data[data['vote_average']>=data['vote_average'].quantile(
                                                    0.99)]['original_title']
answers['26']

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [55]:
data_pairs = pd.Series(data['cast'].str.cat(sep='|').split('|')
                         ).value_counts(ascending=False)
data_pairs = data_pairs-data_pairs # make Series with zero values

# make list of co-workers for every actor
for actors in data['cast']:
    for actor in actors.split('|'):
        if data_pairs[actor] == 0:
            data_pairs[actor] = actors.split('|')
        else:
            data_pairs[actor] += actors.split('|')

# make DataFrame with information about co-worker the actor
# has more often than others collaborated with
data_pairs = pd.DataFrame(data_pairs, columns=['names'])
data_pairs['first_cowoker'] = ''
data_pairs['count'] = 0

for i in range(len(data_pairs)):
    actors = pd.Series(data_pairs['names'].iloc[i]).value_counts(
                                                            ascending=False)
    if actors.index[0] == data_pairs.index[i]:
        data_pairs['first_cowoker'][i] = actors.index[1]
        data_pairs['count'][i] = actors.iloc[1]
    else:
        data_pairs['first_cowoker'][i] = actors.index[0]
        data_pairs['count'][i] = actors.iloc[0]

# Find actors with maximum value of collaboration
answers['27'] = data_pairs[data_pairs['count']==data_pairs['count'].max()].index
answers['27']

C:\Users\PL\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\PL\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\PL\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\PL\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['Emma Watson', 'Daniel Radcliffe', 'Rupert Grint'], dtype='object')

# Submission

In [56]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 9                                              Inside Out
 28                                              Spotlight
 34                                                   Room
 118                                          Interstellar
 119                               Guardians of the Galaxy
 124                                            Big Hero 6
 125                                    The Imitation Game
 128                                             Gone Girl
 138                              The Grand Budapest Hotel
 155                              The Theory of Everything
 177                                The Fault in Our Stars
 283                                            Mr. Nobody
 316                                              3 Idiots
 370                                             Inception
 496     The Lord of the Rings: The Fellowship of the Ring
 599                                       The Dark Knight
 863                 The Lord of the Rings: The Two Towers
 872                                           The Pianist
 1081        The Lord of the Rings: The Return of the King
 1183                              The Wolf of Wall Street
 1188                                                  Her
 1191                                     12 Years a Slave
 1205                                            Prisoners
 1213                                   Dallas Buyers Club
 1444                                         The Prestige
 1563                Eternal Sunshine of the Spotless Mind
 1688                                  There Will Be Blood
 1800                                              Memento
 Name: original_title, dtype: object,
 '27': Index(['Emma Watson', 'Daniel Radcliffe', 'Rupert Grint'], dtype='object')}

In [57]:
# и убедиться что ни чего не пропустил)
len(answers)

27