In [1]:
my_list = list()

In [2]:
type(my_list)

list

In [3]:
my_list = []

In [5]:
type(my_list)

list

In [6]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'

In [7]:
animals

'кошка,собака,хомяк,морская свинка,попугай,лошадь'

In [8]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'.split(',')

In [9]:
animals

['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']

In [10]:
animals = ['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']
print(animals[-1])
print(animals[-2])
print(animals[-6])

лошадь
попугай
кошка

In [11]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']

In [12]:
len(OurBestStudents )

15

In [1]:
colors = ['красный', 'оранжевый', 'жёлтый', 
          'зелёный', 'голубой', 'синий', 'фиолетовый']

In [2]:
colors[-3:]

['голубой', 'синий', 'фиолетовый']

In [3]:
colors[:3]

['красный', 'оранжевый', 'жёлтый']

In [4]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [8]:
body[:]

['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [11]:
body[-7:-5]

['руки', 'ноги']

In [13]:
rabbits = ['Пушок', 'Дружок', 'Мурзик', 'Барсик', 'Эдуард', 
           'Ушастик', 'Роджер', 'Трус']

In [14]:
rabbits[0:7:2]

['Пушок', 'Мурзик', 'Эдуард', 'Роджер']

In [15]:
rabbits[:7:2]

['Пушок', 'Мурзик', 'Эдуард', 'Роджер']

In [16]:
rabbits[0::2]

['Пушок', 'Мурзик', 'Эдуард', 'Роджер']

In [17]:
rabbits[::2]

['Пушок', 'Мурзик', 'Эдуард', 'Роджер']

In [18]:
rabbits[7::-2]

['Трус', 'Ушастик', 'Барсик', 'Дружок']

In [19]:
rabbits[:0:-2]

['Трус', 'Ушастик', 'Барсик', 'Дружок']

In [20]:
rabbits[::-2]

['Трус', 'Ушастик', 'Барсик', 'Дружок']

In [21]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']

In [22]:
sparta[::2]

['Иванов', 'Сидоров', 'Дятлов', 'Лисичкин', 'Капустин']

In [23]:
sparta[::-3]

['Арбузов', 'Лисичкин', 'Зайцев', 'Иванов']

In [25]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for salary in old_salary:
    new_salary.append(salary * 1.9)

print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [26]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort()
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [27]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = False)
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [28]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = True)
print(my_list)

[100, 90, 87, 65, 31, 29, 10]

In [29]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = False)
print(my_list)

['апельсин', 'банан', 'вишня', 'груша', 'дыня']

In [30]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = True)
print(my_list)

['дыня', 'груша', 'вишня', 'банан', 'апельсин']

In [31]:
'd'>'1'

True

In [36]:
'1'>'+D'

True

In [37]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
lowest_salary = min(salary)
print(lowest_salary)

29000

In [38]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
highest_salary = max(salary)
print(highest_salary)

100000

In [39]:
len(salary)

6

In [40]:
my_friends = ['Дмитрий', 'Евгений', 'Елена', 'Михаил', 'Елена', 
              'Татьяна', 'Антон', 'Елена']
popular_name = my_friends.count('Елена')
print(popular_name)

3

In [43]:
my_list = []
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [44]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

97

In [45]:
my_list

[398, 111, 97, 63, 54, 45, 31, 12, 10, 1]

In [48]:
my_list[::2]

[398, 97, 54, 31, 10]

In [49]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [1]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)

In [2]:
my_list

[1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [3]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
my_list

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

In [6]:
lst = []
for i in range(1,51):
    if i%3==0: lst.append(i)
result = sum(lst)

408

In [13]:
result = [sum(i) for i in range(1,51)]

TypeError: 'int' object is not iterable

In [21]:
A = [1,2]
B = sum([i for i in range(1, 51) if i%3==0])
B

408

In [23]:
result = sum([i for i in range(1, 51) if i%3==0])
result

408

In [24]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
l = []
for i in raw_list:
    l.append(len(i))
l

[10, 5, 7, 6, 7, 5, 7]

In [35]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
lengths = ([len(i) for i in raw_list])
result = sum([min(lengths),max(lengths)])
result

15

In [ ]:
#result = sum(el for el in raw_list if )

In [37]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)
my_list = []
for i in raw_list:
    if i%2==0: my_list.append(i*x_min)
    else: my_list.append(i*x_max)
result = max(my_list)

In [39]:
result
my_list

[4, 16, 20, 1633, 128, 3479, 781, 104, 5041, 28]

In [40]:
powers = [x**y for x in range(1, 10) for y in [2,10]]
powers

[1,
 1,
 4,
 1024,
 9,
 59049,
 16,
 1048576,
 25,
 9765625,
 36,
 60466176,
 49,
 282475249,
 64,
 1073741824,
 81,
 3486784401]

In [1]:
my_list = [x**0.5 for x in range(1, 50) if x%7==0]

In [2]:
my_list

[2.6457513110645907,
 3.7416573867739413,
 4.58257569495584,
 5.291502622129181,
 5.916079783099616,
 6.48074069840786,
 7.0]

In [3]:
my_list = ( ((x//10)+(x%10)) for x in range(90,100) )

In [4]:
my_list = []
for x in range(90, 100):
    first_digit = x//10
    last_digit = x%10
    my_list.append(first_digit + last_digit)
my_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [8]:
my_list = [((x//10)+(x%10)) for x in range(90,100)]
my_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [ ]:
phones = ['+79033923029', '+78125849204', '+79053049385', '+79265748370', '+79030598495']

In [9]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов': '+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров': '+79030598495'
}

In [ ]:
Мария Никитина	+79033923029
Егор Савичев	+78125849204
Александр Пахомов	+79053049385
Алина Егорова	+79265748370
Руслан Башаров	+79030598495

In [10]:
print(employee_base['Мария Никитина'])

+79033923029

In [11]:
print(employee_base['Алина Егорова'])

+79265748370

In [33]:
country = 'Италия'
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
    }

if country in draw_dict: group = draw_dict[country]
else: group = 'unknown'

In [31]:
group

'A'

In [34]:
simple_dict = {'a': 1}

In [35]:
simple_dict

{'a': 1}

In [36]:
simple_dict.setdefault('b', 0)
print(simple_dict)

{'a': 1, 'b': 0}

In [37]:
simple_dict = {'a': 1, 'b': 0}

simple_dict.setdefault('b', 5)
print(simple_dict)

{'a': 1, 'b': 0}

In [38]:
country = 'Италия'
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
    }

if country in draw_dict: group = draw_dict[country]
else: 
    draw_dict.setdefault(country, 'unknown')
    group = draw_dict[country]

In [39]:
group

'unknown'

In [40]:
draw_dict

{'Россия': 'A',
 'Португалия': 'B',
 'Франция': 'C',
 'Дания': 'C',
 'Египет': 'A',
 'Италия': 'unknown'}

In [2]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
draw_new = {}
for c in draw_dict:
    if draw_dict[c] == 'A': draw_new.setdefault(c, draw_dict[c])

In [8]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}

for i in draw_dict:
    print(draw_dict[i])

A
B
C
C
A

In [3]:
draw_new

{'Россия': 'A', 'Египет': 'A'}

In [4]:
for position in employee_base.values():
    print(position)

NameError: name 'employee_base' is not defined

In [1]:
employee_base = {'Мария Никитина': 'менеджер', 'Егор Савичев': 'разработчик', 'Александр Пахомов': 'дизайнер', 'Алина Егорова': 'разработчик', 'Руслан Башаров': 'верстальщик'}

In [2]:
employee_base

{'Мария Никитина': 'менеджер',
 'Егор Савичев': 'разработчик',
 'Александр Пахомов': 'дизайнер',
 'Алина Егорова': 'разработчик',
 'Руслан Башаров': 'верстальщик'}

In [3]:
for employee, position in employee_base.items():
    print(employee, position)

Мария Никитина менеджер
Егор Савичев разработчик
Александр Пахомов дизайнер
Алина Егорова разработчик
Руслан Башаров верстальщик

In [4]:
for employee, position in employee_base.items():
    if position == 'разработчик':
        print(employee)

Егор Савичев
Алина Егорова

In [5]:
for position in employee_base.values():
    print(position)

менеджер
разработчик
дизайнер
разработчик
верстальщик

In [6]:
for employee in employee_base.keys():
    print(employee)

Мария Никитина
Егор Савичев
Александр Пахомов
Алина Егорова
Руслан Башаров

In [11]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
draw_new = {}

for c, g in draw_dict.items():
    if g == 'A': draw_new.setdefault(c, g)

In [12]:
draw_new

{'Россия': 'A', 'Египет': 'A'}

In [15]:
expenses = {
    '2019-04-01': 2504,
    '2019-04-02': 4994,
    '2019-04-03': 6343
}

In [16]:
expenses

{'2019-04-01': 2504, '2019-04-02': 4994, '2019-04-03': 6343}

In [18]:
sum(expenses.values())

13841

In [19]:
expenses['2019-04-01']

2504

In [20]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]

In [21]:
print(csv_file[4])

['100898', 'Шагомер Omron HJA-306', 2]

In [22]:
print(csv_file[4][2])

2

In [26]:
pulsometer_id = csv_file[-1][0]
pulsometer_id

'100934'

In [27]:
for record in csv_file:
    print(record)

['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9]
['100728', 'Скейтборд Jdbug RT03', 32]
['100732', 'Роллерсерф Razor RipStik Bright', 11]
['100803', 'Ботинки для сноуборда DC Tucknee', 20]
['100898', 'Шагомер Omron HJA-306', 2]
['100934', 'Пульсометр Beurer PM62', 17]

In [28]:
for record in csv_file:
    if record[1] == 'Шагомер Omron HJA-306':
        print('Количество шагомеров на складе - {}шт'.format(record[2]))

Количество шагомеров на складе - 2шт

In [31]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]

csv_file_filtered = [rec for rec in csv_file if rec[2]>10]

In [32]:
csv_file_filtered = [rec for rec in csv_file if rec[2]>10]

In [33]:
csv_file_filtered

[['100728', 'Скейтборд Jdbug RT03', 32],
 ['100732', 'Роллерсерф Razor RipStik Bright', 11],
 ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
 ['100934', 'Пульсометр Beurer PM62', 17]]

In [2]:
contacts = {
    'Борискин Владимир': {
        'tel': '5387',
        'position': 'менеджер'
    },
    
    'Сомова Наталья': {
        'tel': '5443',
        'position': 'разработчик'
    },
}

In [5]:
print(contacts['Борискин Владимир'])

{'tel': '5387', 'position': 'менеджер'}

In [8]:
print(contacts[0])

TypeError: unhashable type: 'list'

In [9]:
print(contacts['Борискин Владимир']['tel'])

5387

In [14]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]

for i in csv_dict:
    if 'Ботинки' in i['position']: print(i['position'])

Ботинки для горных лыж ATOMIC Hawx Prime 100
Ботинки для сноуборда DC Tucknee

In [15]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]

csv_dict_boots = [i for i in csv_dict if 'Ботинки' in i['position']]

In [16]:
csv_dict_boots

[{'id': '100412',
  'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100',
  'count': 9},
 {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20}]

In [31]:
results = [
    {'cost': 98, 'source': 'vk'},
    {'cost': 153, 'source': 'yandex'},
    {'cost': 110, 'source': 'facebook'},
]

ma = results[0]['cost']
for i in results:
    if i['cost']<ma: ma = i['cost']

In [32]:
ma

98

In [27]:
results[1]['cost']

153

In [40]:
defect_stats = [
    {'step number': 1, 'damage': 0.98},
    {'step number': 2, 'damage': 0.99},
    {'step number': 3, 'damage': 0.99},
    {'step number': 4, 'damage': 0.96},
    {'step number': 5, 'damage': 0.97},
    {'step number': 6, 'damage': 0.97},
]

cl = 100
step = 0

for i in defect_stats:
    if cl<90: break
    else:
        cl *= i['damage']
        step += 1
        #print(cl, step)

step

5

In [69]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}

c = 0

for n, v in currency.items():
    if c == 0:
        c = v['Value']/v['Nominal']
        name = n
    else:
        if v['Value']/v['Nominal']<c:
            c = v['Value']/v['Nominal']
            name = n

c, name

(0.13121, 'AMD')

In [11]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}

c = 0

for n in currency:
    print(currency[n])
    print(currency[n]['Name'])

{'Name': 'Армянских драмов', 'Nominal': 100, 'Value': 13.121}
Армянских драмов
{'Name': 'Австралийский доллар', 'Nominal': 1, 'Value': 45.5309}
Австралийский доллар
{'Name': 'Индийских рупий', 'Nominal': 100, 'Value': 92.9658}
Индийских рупий
{'Name': 'Молдавских леев', 'Nominal': 10, 'Value': 36.9305}
Молдавских леев

In [4]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}

for i in bodycount:
    print(i)

Проклятие Черной жемчужины
Сундук мертвеца
На краю света
На странных берегах

In [22]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}


for i in bodycount.values():
    print(sum(i.values()))

17
57
88
63

In [46]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}



count = sum([sum(i.values()) for i in bodycount.values()])
count

225

In [3]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}

draw_dict['Россия'] = 'B'
draw_dict

{'Россия': 'B', 'Португалия': 'B', 'Франция': 'C', 'Дания': 'C', 'Египет': 'A'}

In [4]:
import json
with open('data.json', 'rb') as infile:
    data = json.load(infile)

In [5]:
type(data)

dict

In [6]:
data.keys()

dict_keys(['events_data'])

In [7]:
data['events_data']

[{'id': 47946124,
  'client_id': 62526,
  'user_id': 110777,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 47947076,
  'client_id': 61944,
  'user_id': 108565,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 47962056,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 47962120,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-31 23:59:59',
   'startDate': '2019-03-25 00:00:00'}},
 {'id': 47962218,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'ASC', 'name': 'deal_date'}},
 {'id': 47962238,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'DESC', 'name': 'deal_date'}},
 {'id': 47962532,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'ASC', 'name': 'deal_date'}},
 {'id': 47962534,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'DESC', 'name': 'deal_date'}},
 {'id': 47962696,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-10 23:59:59',
   'startDate': '2019-03-04 00:00:00'}},
 {'id': 47962748,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-02-24 23:59:59',
   'startDate': '2019-02-18 00:00:00'}},
 {'id': 47962830,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-31 23:59:59',
   'startDate': '2019-03-25 00:00:00'}},
 {'id': 47962860,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-31 23:59:59',
   'startDate': '2019-03-28 00:00:00'}},
 {'id': 47962952,
  'client_id': 27115,
  'user_id': 49440,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-31 23:59:59',
   'startDate': '2019-03-29 00:00:00'}},
 {'id': 47964366,
  'client_id': 62017,
  'user_id': 108835,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 47989384,
  'client_id': 63120,
  'user_id': 113069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48010418,
  'client_id': 59883,
  'user_id': 108493,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48012170,
  'client_id': 2913,
  'user_id': 37412,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48014430,
  'client_id': 62940,
  'user_id': 112351,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48022684,
  'client_id': 63149,
  'user_id': 113143,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48026886,
  'client_id': 45391,
  'user_id': 76047,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48034878,
  'client_id': 18923,
  'user_id': 36488,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48042052,
  'client_id': 63019,
  'user_id': 113169,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48043326,
  'client_id': 18923,
  'user_id': 36488,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48043640,
  'client_id': 18923,
  'user_id': 36488,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48051248,
  'client_id': 15759,
  'user_id': 92681,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48061250,
  'client_id': 62007,
  'user_id': 92681,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48066902,
  'client_id': 62941,
  'user_id': 112357,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48081876,
  'client_id': 51009,
  'user_id': 87778,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48106514,
  'client_id': 62236,
  'user_id': 109579,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48110768,
  'client_id': 44682,
  'user_id': 74909,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48114652,
  'client_id': 39709,
  'user_id': 67955,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48118216,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48118370,
  'client_id': 62144,
  'user_id': 109283,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48118516,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'report',
  'action': 'change_mode',
  'options': {'mode': 'deals'}},
 {'id': 48118564,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'report',
  'action': 'change_mode',
  'options': {'mode': 'summary'}},
 {'id': 48118590,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'report',
  'action': 'change_mode',
  'options': {'mode': 'deals'}},
 {'id': 48118920,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'report',
  'action': 'change_mode',
  'options': {'mode': 'summary'}},
 {'id': 48120374,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48120386,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'report',
  'action': 'change_mode',
  'options': {'mode': 'deals'}},
 {'id': 48120602,
  'client_id': 52492,
  'user_id': 91178,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48120604,
  'client_id': 52492,
  'user_id': 105477,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48120770,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48120876,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'ASC', 'name': 'visitor_id'}},
 {'id': 48120896,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'DESC', 'name': 'visitor_id'}},
 {'id': 48121006,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'ASC', 'name': 'visitor_id'}},
 {'id': 48121008,
  'client_id': 60459,
  'user_id': 32532,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'DESC', 'name': 'visitor_id'}},
 {'id': 48125372,
  'client_id': 52492,
  'user_id': 91178,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48130434,
  'client_id': 18923,
  'user_id': 36488,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48135712,
  'client_id': 25301,
  'user_id': 54229,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48136376,
  'client_id': 18923,
  'user_id': 36488,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48136890,
  'client_id': 33645,
  'user_id': 61378,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48145332,
  'client_id': 62089,
  'user_id': 109095,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48155244,
  'client_id': 26705,
  'user_id': 48880,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48160942,
  'client_id': 1103,
  'user_id': 109501,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48166190,
  'client_id': 62439,
  'user_id': 110397,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48167428,
  'client_id': 44196,
  'user_id': 74136,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 48171114,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48173426,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48173444,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'report',
  'action': 'link_click',
  'options': {'url': 'javascript:void(0);',
   'name': 'deal_count',
   'value': '1'}},
 {'id': 48173446,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48173640,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48173686,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48173698,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48174302,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48174312,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'report',
  'action': 'link_click',
  'options': {'url': 'javascript:void(0);',
   'name': 'deal_count',
   'value': '1'}},
 {'id': 48174314,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48174338,
  'client_id': 62602,
  'user_id': 111069,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 48179988,
  'client_id': 50149,
  'user_id': 86073,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57301281,
  'client_id': 57009,
  'user_id': 107244,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57326589,
  'client_id': 57207,
  'user_id': 107968,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57328781,
  'client_id': 32792,
  'user_id': 57997,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57335607,
  'client_id': 27323,
  'user_id': 92681,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57355249,
  'client_id': 24500,
  'user_id': 45371,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57357969,
  'client_id': 24500,
  'user_id': 45371,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 57364085,
  'client_id': 58330,
  'user_id': 122756,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57368897,
  'client_id': 61245,
  'user_id': 122796,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57380235,
  'client_id': 19799,
  'user_id': 108493,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57397813,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 57397881,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-31 23:59:59',
   'startDate': '2019-03-31 00:00:00'}},
 {'id': 57397923,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-30 23:59:59',
   'startDate': '2019-03-30 00:00:00'}},
 {'id': 57397987,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-29 23:59:59',
   'startDate': '2019-03-29 00:00:00'}},
 {'id': 57398079,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-28 23:59:59',
   'startDate': '2019-03-28 00:00:00'}},
 {'id': 57398119,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-27 23:59:59',
   'startDate': '2019-03-27 00:00:00'}},
 {'id': 57398165,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-26 23:59:59',
   'startDate': '2019-03-26 00:00:00'}},
 {'id': 57398203,
  'client_id': 56544,
  'user_id': 105404,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-25 23:59:59',
   'startDate': '2019-03-25 00:00:00'}},
 {'id': 57414209,
  'client_id': 23207,
  'user_id': 43300,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57414633,
  'client_id': 23207,
  'user_id': 43300,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57414663,
  'client_id': 23207,
  'user_id': 85282,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57414851,
  'client_id': 23207,
  'user_id': 43300,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57420219,
  'client_id': 48128,
  'user_id': 121686,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57424709,
  'client_id': 58113,
  'user_id': 120952,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 57424757,
  'client_id': 58113,
  'user_id': 120952,
  'category': 'report',
  'action': 'change_mode',
  'options': {'mode': 'deals'}},
 {'id': 57425399,
  'client_id': 58113,
  'user_id': 120952,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'ASC', 'name': 'ac'}},
 {'id': 57425421,
  'client_id': 58113,
  'user_id': 120952,
  'category': 'table',
  'action': 'sort',
  'options': {'dir': 'DESC', 'name': 'ac'}},
 {'id': 57426007,
  'client_id': 58113,
  'user_id': 120952,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-24 23:59:59',
   'startDate': '2019-03-18 00:00:00'}},
 {'id': 57426303,
  'client_id': 58113,
  'user_id': 120952,
  'category': 'datepicker',
  'action': 'apply',
  'options': {'endDate': '2019-03-17 23:59:59',
   'startDate': '2019-03-11 00:00:00'}},
 {'id': 57431787,
  'client_id': 58113,
  'user_id': 120952,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'page'}},
 {'id': 57444593,
  'client_id': 57613,
  'user_id': 110958,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57453741,
  'client_id': 61244,
  'user_id': 120170,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57467371,
  'client_id': 53666,
  'user_id': 122224,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57473917,
  'client_id': 53018,
  'user_id': 92402,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57475785,
  'client_id': 53666,
  'user_id': 122224,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57492477,
  'client_id': 41737,
  'user_id': 122874,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57493427,
  'client_id': 61078,
  'user_id': 119662,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57515935,
  'client_id': 20820,
  'user_id': 116898,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57517657,
  'client_id': 41737,
  'user_id': 122874,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}},
 {'id': 57540495,
  'client_id': 49700,
  'user_id': 84946,
  'category': 'page',
  'action': 'enter',
  'options': {'name': 'landing'}}]

In [8]:
data_list = data['events_data']

In [9]:
print(len(data_list))

107

In [10]:
categories = []
for item in data_list:
    category = item['category']
    categories.append(category)
print (categories)

['page', 'page', 'page', 'datepicker', 'table', 'table', 'table', 'table', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'report', 'report', 'report', 'report', 'page', 'report', 'page', 'page', 'page', 'table', 'table', 'table', 'table', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'report', 'page', 'page', 'page', 'page', 'page', 'report', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'page', 'page', 'page', 'page', 'page', 'page', 'report', 'table', 'table', 'datepicker', 'datepicker', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page']

In [11]:
import collections
c = collections.Counter()
for category in categories:
    c[category] += 1
print (c)

Counter({'page': 74, 'datepicker': 15, 'table': 10, 'report': 8})

In [12]:
table_clients = []
for item in data_list:
    client_id = item['client_id']
    category = item['category']
    if category == 'table':
        table_clients.append(client_id)
print (table_clients)

[27115, 27115, 27115, 27115, 60459, 60459, 60459, 60459, 58113, 58113]

In [13]:
c = collections.Counter()
for table_client in table_clients:
    c[table_client] += 1
print (c)

Counter({27115: 4, 60459: 4, 58113: 2})

In [14]:
print (len(c.keys()))

3

In [16]:
print(c[27115])

4

In [20]:
table_clients = []
for item in data_list:
    client_id = item['client_id']
    action = item['action']
    table_clients.append([action])
print (table_clients)

[['enter'], ['enter'], ['enter'], ['apply'], ['sort'], ['sort'], ['sort'], ['sort'], ['apply'], ['apply'], ['apply'], ['apply'], ['apply'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['change_mode'], ['change_mode'], ['change_mode'], ['change_mode'], ['enter'], ['change_mode'], ['enter'], ['enter'], ['enter'], ['sort'], ['sort'], ['sort'], ['sort'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['link_click'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['link_click'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['apply'], ['apply'], ['apply'], ['apply'], ['apply'], ['apply'], ['apply'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['change_mode'], ['sort'], ['sort'], ['apply'], ['apply'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter'], ['enter']]

In [21]:
len(table_clients)

107

In [23]:
categories = []
for item in data_list:
    category = item['action']
    categories.append(category)
print (categories)

['enter', 'enter', 'enter', 'apply', 'sort', 'sort', 'sort', 'sort', 'apply', 'apply', 'apply', 'apply', 'apply', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'change_mode', 'change_mode', 'change_mode', 'change_mode', 'enter', 'change_mode', 'enter', 'enter', 'enter', 'sort', 'sort', 'sort', 'sort', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'link_click', 'enter', 'enter', 'enter', 'enter', 'enter', 'link_click', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'apply', 'apply', 'apply', 'apply', 'apply', 'apply', 'apply', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'change_mode', 'sort', 'sort', 'apply', 'apply', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter', 'enter']

In [24]:
import collections
c = collections.Counter()
for category in action:
    c[category] += 1
print (c)

Counter({'e': 2, 'n': 1, 't': 1, 'r': 1})

In [25]:
clients = []
for item in data_list:
    client = item['client_id']
    clients.append(client)
print (clients)

[62526, 61944, 27115, 27115, 27115, 27115, 27115, 27115, 27115, 27115, 27115, 27115, 27115, 62017, 63120, 59883, 2913, 62940, 63149, 45391, 18923, 63019, 18923, 18923, 15759, 62007, 62941, 51009, 62236, 44682, 39709, 60459, 62144, 60459, 60459, 60459, 60459, 60459, 60459, 52492, 52492, 60459, 60459, 60459, 60459, 60459, 52492, 18923, 25301, 18923, 33645, 62089, 26705, 1103, 62439, 44196, 62602, 62602, 62602, 62602, 62602, 62602, 62602, 62602, 62602, 62602, 62602, 50149, 57009, 57207, 32792, 27323, 24500, 24500, 58330, 61245, 19799, 56544, 56544, 56544, 56544, 56544, 56544, 56544, 56544, 23207, 23207, 23207, 23207, 48128, 58113, 58113, 58113, 58113, 58113, 58113, 58113, 57613, 61244, 53666, 53018, 53666, 41737, 61078, 20820, 41737, 49700]

In [27]:
len(clients)

107

In [28]:
import collections
c = collections.Counter()
for client in clients:
    c[client] += 1
print (c)

Counter({60459: 12, 27115: 11, 62602: 11, 56544: 8, 58113: 7, 18923: 5, 23207: 4, 52492: 3, 24500: 2, 53666: 2, 41737: 2, 62526: 1, 61944: 1, 62017: 1, 63120: 1, 59883: 1, 2913: 1, 62940: 1, 63149: 1, 45391: 1, 63019: 1, 15759: 1, 62007: 1, 62941: 1, 51009: 1, 62236: 1, 44682: 1, 39709: 1, 62144: 1, 25301: 1, 33645: 1, 62089: 1, 26705: 1, 1103: 1, 62439: 1, 44196: 1, 50149: 1, 57009: 1, 57207: 1, 32792: 1, 27323: 1, 58330: 1, 61245: 1, 19799: 1, 48128: 1, 57613: 1, 61244: 1, 53018: 1, 61078: 1, 20820: 1, 49700: 1})

In [29]:
len(c) #Подсчитайте количество клиентов (client_id), которые совершали какие-либо действия

51

In [30]:
c[60459] #Сколько действий совершил клиент (client_id) под номером 60459?

12

In [37]:
cl_62602 = 0 #Сколько действий с категорией (category) = page совершил клиент под номером 62602?
for item in data_list:
    if (item['category']=='page') and (item['client_id']==62602):
        cl_62602 += 1
        
cl_62602

9

In [41]:
table_clients = [] #Сколько уникальных клиентов совершили действия с категорией (category) = report?
for item in data_list:
    client_id = item['client_id']
    category = item['category']
    if category == 'report':
        table_clients.append(client_id)
c = collections.Counter()
for table_client in table_clients:
    c[table_client] += 1
print (len(c))

3

In [42]:
print(c) #Перечислите в каждом из полей идентификаторы клиентов, которые совершили действия с категорией (category) = report (В порядке возрастания

Counter({60459: 5, 62602: 2, 58113: 1})

In [43]:
table_clients

[60459, 60459, 60459, 60459, 60459, 62602, 62602, 58113]

In [44]:
for item in data_list:
    client_id = item['client_id']
    category = item['category']
    if category == 'report': print(item)

{'id': 48118516, 'client_id': 60459, 'user_id': 32532, 'category': 'report', 'action': 'change_mode', 'options': {'mode': 'deals'}}
{'id': 48118564, 'client_id': 60459, 'user_id': 32532, 'category': 'report', 'action': 'change_mode', 'options': {'mode': 'summary'}}
{'id': 48118590, 'client_id': 60459, 'user_id': 32532, 'category': 'report', 'action': 'change_mode', 'options': {'mode': 'deals'}}
{'id': 48118920, 'client_id': 60459, 'user_id': 32532, 'category': 'report', 'action': 'change_mode', 'options': {'mode': 'summary'}}
{'id': 48120386, 'client_id': 60459, 'user_id': 32532, 'category': 'report', 'action': 'change_mode', 'options': {'mode': 'deals'}}
{'id': 48173444, 'client_id': 62602, 'user_id': 111069, 'category': 'report', 'action': 'link_click', 'options': {'url': 'javascript:void(0);', 'name': 'deal_count', 'value': '1'}}
{'id': 48174312, 'client_id': 62602, 'user_id': 111069, 'category': 'report', 'action': 'link_click', 'options': {'url': 'javascript:void(0);', 'name': 'deal_count', 'value': '1'}}
{'id': 57424757, 'client_id': 58113, 'user_id': 120952, 'category': 'report', 'action': 'change_mode', 'options': {'mode': 'deals'}}