In [4]:
sorted([5, 2, 3, 1, 4])

[1, 2, 3, 4, 5]

In [72]:
def get_median(numbers):
    numbers = sorted(numbers)
    if len(numbers)%2 == 1: return numbers[len(numbers)//2]
    else: return (numbers[len(numbers)//2]+numbers[(len(numbers)//2)-1])/2

In [73]:
n = [1, 2, 3, 4, 5]
n

[1, 2, 3, 4, 5]

In [74]:
len(n)//2

2

In [75]:
len(n)%2

1

In [76]:
(len(n)//2)+(len(n)%2)

3

In [77]:
get_median(n)

3

In [78]:
n = [1, 2, 3, 4]
n

[1, 2, 3, 4]

In [79]:
len(n)//2

2

In [80]:
len(n)%2

0

In [81]:
get_median(n)

2.5

In [ ]:
user_db = [{'orders': 12}, {'orders': 30}, {'orders': 45}]

# перепишите эту часть
order_sum = sum([user['orders'] for user in user_db])
orders_per_user = order_sum/len(user_db)
print(orders_per_user)

In [82]:
user_db = [{'orders': 12}, {'orders': 30}, {'orders': 45}]

def avg_orders(user_db):
    order_sum = sum([user['orders'] for user in user_db])
    return order_sum/len(user_db)

print(avg_orders(user_db))

29.0

In [ ]:
# добавьте функцию get_euro_rate


# используйте get_euro_rate в следующей функции
def to_euro(price):  
    exchange_rate =   
    rounded = round(price/exchange_rate, 2)  
    return '€' + str(rounded)

In [112]:
import random

def get_euro_rate():
    return (random.random()*20+65)


# используйте get_euro_rate в следующей функции
def to_euro(price):  
    exchange_rate = get_euro_rate()
    rounded = round(price/exchange_rate, 2)  
    return '€' + str(rounded)

In [113]:
import random
random.random()*20+65

75.45103074855446

In [114]:
to_euro(65)

'€0.94'

In [116]:
def apply_the_operation(operation, argument):  
    print("I'm using", operation)  
    return operation(argument)  
  
def double_string(string):  
    return string*2  
  
# передаём функцию double_string в apply_the_operation  
apply_the_operation(double_string, 'hello')  
# => I'm using <function double_string at 0x7f4c34265378>  
# 'hellohello'

I'm using <function double_string at 0x000001934840BCA8>

'hellohello'

In [119]:
print(range(4))

range(0, 4)

In [122]:
all_the = sum
magic = range
print(sum(magic(5)))

10

In [123]:
# => Определим функцию polite_name, которая делает вежливым одно имя 
def polite_name(name):  
    return 'Mr. ' + name   
  
guests = ["Boris", "Ivan", "Bob"]
guest_iterator = map(polite_name, guests)  # здесь мы применили polite_name к каждому имени  
list(guest_iterator)  # вывoд  
# => ['Mr. Boris', 'Mr. Ivan', 'Mr. Bob']

['Mr. Boris', 'Mr. Ivan', 'Mr. Bob']

In [124]:
num_strings = ["10", "1", "4.2", "0.73"]  
  
list(map(float, num_strings))  
# => [10.0, 1.0, 4.2, 0.73]

[10.0, 1.0, 4.2, 0.73]

In [126]:
print(map(float, num_strings))

<map object at 0x00000193484365C8>

In [129]:
# создадим простую функцию с помощью lambda и положим её в переменную func
func = lambda x, y: x + y  
  
# после этого мы можем использовать func как обычную функцию  
func(1, 2)  
# => 3

3

In [132]:
func('a', 'b')  
# => 'ab'

'ab'

In [131]:
# мы даже можем не давать функции имя, а сразу вызывать  
(lambda x: x**2)(8)  
# => 64

64

In [149]:
values = [(1, 2),(3,4)]
vectors = [(10, 3), (4, 5), (6, 7)]

In [150]:
list(map(lambda x: x+2, [1, 2, 3]))

[3, 4, 5]

In [151]:
list(map(values, lambda x: x**0.5))

TypeError: 'function' object is not iterable

In [152]:
list(map(lambda vec: (vec[0]**2 + vec[1]**2)**0.5, vectors))

[10.44030650891055, 6.4031242374328485, 9.219544457292887]

In [156]:
list(map(lambda x, y: x + y, vectors))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [163]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(map(lambda x:x-mean, values))

In [164]:
sum(values)/6

18.0

In [165]:
x

NameError: name 'x' is not defined

In [166]:
result

[-14, -10, -3, -2, 5, 24]

In [167]:
nums = [1, 20, 30, 33, 16, 5]  
  
# оставим числа меньшее 30  
list(filter(lambda x: x < 30, nums))  
# => [1, 20, 16, 5]

[1, 20, 16, 5]

In [168]:
# оставим только нечётные числа  
list(filter(lambda x: x % 2 == 1, nums))  
# => [1, 33, 5]

[1, 33, 5]

In [170]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(filter(lambda x: x>mean, values))

In [171]:
result

[23, 42]

In [173]:
def hello(name="Alice"):  
    print("Hello,", name)  

hello()  
# => Hello, Alice

Hello, Alice

In [174]:
hello("Bob")

Hello, Bob

In [175]:
hello(name='Bob')

Hello, Bob

In [176]:
def say_hello(word='hello', times):  
    print(word*times)

SyntaxError: non-default argument follows default argument (<ipython-input-176-2d4945963f0b>, line 1)

In [177]:
def say_something(word, times=5):  
    print(word*times)

In [181]:
say_something('k')

kkkkk

In [186]:
def send_the_package(data='123', dop=1):
    print(data*dop)

In [189]:
send_the_package('paff', 10)

paffpaffpaffpaffpaffpaffpaffpaffpaffpaff

In [197]:
def normalize(numbers, mean=0, std=1):
    return list(map(lambda x: (x-mean)/std, numbers))

In [198]:
normalize([10, 20])

[10.0, 20.0]

In [196]:
list(map(lambda x: x+1, [1,2]))

[2, 3]

In [194]:
list(map(lambda x:x-mean, values))

[-14, -10, -3, -2, 5, 24]

In [199]:
normalize([10, 20], mean=15)

[-5.0, 5.0]

In [203]:
def normalize(numbers, mean=0, std=1):
    return [(x-mean)/std for x in numbers]

In [204]:
normalize([10, 20], mean=15)

[-5.0, 5.0]

In [207]:
def sum_args(*args):  
    product = 0 
    for num in args:  
        product += num  
    return product

In [208]:
 sum_args(10, 15, -4)

21

In [209]:
def print_config(**kwargs):  
    for key, value in kwargs.items():  
        print(key, ": ", value)  
  
  
print_config(school="skillfactory")

school :  skillfactory

In [210]:
def show_keys(**kwargs):
    print(' '.join(kwargs.keys()))

show_keys(verbose=True, mode='constant')

verbose mode

In [24]:
s = "I will build my own theme park"
sum([len(x) for x in s.split()])/len(s.split())

3.4285714285714284

In [47]:
def count_letters(sentence, average=False):
    if average:
        return (sum([len(x) for x in s.replace('.','').split()])/len(s.split()))
    else: 
        return len(sentence.replace(' ', '').replace('.',''))

In [48]:
count_letters("I will build. my own theme park", average=True)

3.4285714285714284

In [40]:
words = ["sofa", "suitcase", "valise", "picture", "basket", "carton", "doggie"]
list(map(lambda w: sorted(w)[0], words))

['a', 'a', 'a', 'c', 'a', 'a', 'd']

In [113]:
def count_letters(sentence, average=False):
    if average:
        words = [len(x) for x in sentence.replace('.',' ').split()]
        return (sum(words)/len(words))
    else: 
        return (len(sentence.replace(' ', '').replace('.','')))

In [114]:
count_letters("I will build m4y own theme park", average=True)

3.5714285714285716

In [101]:
s = "I will build aadsadasdasdasdsda m4y own theme park"

In [102]:
let = [len(x) for x in s.replace('.',' ').split()]
let

[1, 4, 5, 18, 3, 3, 5, 4]

In [103]:
sum(let)

43

In [104]:
len(let)

8

In [105]:
sum(let)/len(let)

5.375

In [13]:
def always(n):
    def helpfunc():
        return n
    return helpfunc

In [14]:
five=always(5)

In [15]:
five()

5