In [1]:
import numpy as np
import math
import pandas as pd

In [2]:
apartment = np.array([59.50, 31.40, 19, 2, 60550, 2])

In [3]:
# В NumPy вектор и массив - одно и то же. 
# Исключение - понятие вектор-столбец и вектор-строка - фактически двумерные массивы, 
# где один из атрибутов shape равен 1.

print("ndim:", apartment.ndim) # число осей (измерений) массива - n.dim: 1
print("shape:", apartment.shape) # размеры массива, для вектора определена только длина - shape: (6, )

ndim: 1
shape: (6,)

In [4]:
share_living_space = apartment[1]/apartment[0]

In [5]:
apartment = np.delete(apartment, [0, 1])

In [6]:
apartment = np.append(apartment, share_living_space)

In [7]:
apartment

array([1.90000000e+01, 2.00000000e+00, 6.05500000e+04, 2.00000000e+00,
       5.27731092e-01])

In [8]:
apartment[-1]

0.5277310924369748

In [9]:
len(apartment)

5

In [10]:
math.sqrt(2)

1.4142135623730951

In [11]:
x = np.array([1, 2, np.sqrt(3)])

In [12]:
y = np.array([-1, -2])

In [13]:
step_mother_eu = np.array([2, 3, 2.5])
eu_rub = 72
step_mother_rub = step_mother_eu*eu_rub

In [14]:
step_mother_rub

array([144., 216., 180.])

In [15]:
alex = np.array([120, 150, 90])
wife = np.array([130, 130, 130])
family = alex + wife + step_mother_rub
family

array([394., 496., 400.])

In [16]:
made = np.array([3, 4, 5, 9])
sold = np.array([1, 5, 3, 6])
k1 = -200
k2 = 400

In [17]:
v_result = k1*made + k2*sold
v_result

array([-200, 1200,  200,  600])

In [18]:
Hut_Paradise_DF = pd.DataFrame({'1.Rent': [65, 70, 120, 35, 40, 50, 100, 90, 85], 
                                '2.Area': [50, 52, 80, 33, 33, 44, 80, 65, 65], 
                                '3.Rooms':[3, 2, 1, 1, 1, 2, 4, 3, 2],
                                '4.Floor':[5, 12, 10, 3, 6, 13, 8, 21, 5], 
                                '5.Demo two weeks':[8, 4, 5, 10, 20, 12, 5, 1, 10], 
                                '6.Liv.Area': [37, 40, 65, 20, 16, 35, 60, 50, 40]})

In [19]:
Hut_Paradise_DF

   1.Rent  2.Area  3.Rooms  4.Floor  5.Demo two weeks  6.Liv.Area
0      65      50        3        5                 8          37
1      70      52        2       12                 4          40
2     120      80        1       10                 5          65
3      35      33        1        3                10          20
4      40      33        1        6                20          16
5      50      44        2       13                12          35
6     100      80        4        8                 5          60
7      90      65        3       21                 1          50
8      85      65        2        5                10          40

In [20]:
HP = np.array(Hut_Paradise_DF.values)
HP

array([[ 65,  50,   3,   5,   8,  37],
       [ 70,  52,   2,  12,   4,  40],
       [120,  80,   1,  10,   5,  65],
       [ 35,  33,   1,   3,  10,  20],
       [ 40,  33,   1,   6,  20,  16],
       [ 50,  44,   2,  13,  12,  35],
       [100,  80,   4,   8,   5,  60],
       [ 90,  65,   3,  21,   1,  50],
       [ 85,  65,   2,   5,  10,  40]], dtype=int64)

In [21]:
HP[4]

array([40, 33,  1,  6, 20, 16], dtype=int64)

In [22]:
HP[:, 3]

array([ 5, 12, 10,  3,  6, 13,  8, 21,  5], dtype=int64)

In [23]:
len(HP)

9

In [24]:
non_liv_area = HP[:, 1] - HP[:, 5]
non_liv_area

array([13, 12, 15, 13, 17,  9, 20, 15, 25], dtype=int64)

In [25]:
rent_griv = HP[:, 0]*4/10
np.int64(rent_griv)

array([26, 28, 48, 14, 16, 20, 40, 36, 34], dtype=int64)

In [26]:
times = np.array([10, 20, 30, 15, 5, 40, 20, 8, 20])
times

array([10, 20, 30, 15,  5, 40, 20,  8, 20])

In [27]:
HP[:, 4]@times

1348

In [28]:
u=np.array([3,0,1,1,1])
v=np.array([0,1,0,2,-2])
w=np.array([1,-4,-1,0,-2])

In [29]:
print('u@v', u@v)
print('u@w', u@w)
print('v@w', v@w)

u@v 0
u@w 0
v@w 0

In [30]:
(2*v-3*w)

array([-3, 14,  3,  4,  2])

In [31]:
(2*v-3*w)@u

0

In [32]:
print('u', u/np.linalg.norm(u))
print('v', v/np.linalg.norm(v))
print('w', w/np.linalg.norm(w))

u [0.8660254  0.         0.28867513 0.28867513 0.28867513]
v [ 0.          0.33333333  0.          0.66666667 -0.66666667]
w [ 0.21320072 -0.85280287 -0.21320072  0.         -0.42640143]

In [33]:
import numpy as np

Husband_Income = np.array([100,220,140])
Wife_Income = np.array([150,200,130])
Mother_In_Law_Income = np.array([90,80,100])

Husband_Сonsumption = np.array([50,50,60])
Wife_Сonsumption = np.array([100,80,140])
Mother_In_Law_Сonsumption = np.array([100,20,140])

In [34]:
Inc = np.array([Husband_Income, Wife_Income, Mother_In_Law_Income]).T
Inc

array([[100, 150,  90],
       [220, 200,  80],
       [140, 130, 100]])

In [35]:
Cons = np.array([Husband_Сonsumption, Wife_Сonsumption, Mother_In_Law_Сonsumption]).T
Cons

array([[ 50, 100, 100],
       [ 50,  80,  20],
       [ 60, 140, 140]])

In [36]:
Inc*0.87

array([[ 87. , 130.5,  78.3],
       [191.4, 174. ,  69.6],
       [121.8, 113.1,  87. ]])

In [37]:
Inc*0.87 - Cons

array([[ 37. ,  30.5, -21.7],
       [141.4,  94. ,  49.6],
       [ 61.8, -26.9, -53. ]])

In [38]:
A = np.array([[5,-1,3,1,2], [-2,8,5,-1,1]])
x = np.array([1,2,3,4,5])

In [39]:
A

array([[ 5, -1,  3,  1,  2],
       [-2,  8,  5, -1,  1]])

In [40]:
x

array([1, 2, 3, 4, 5])

In [41]:
A@x

array([26, 30])

In [43]:
A=np.array( [ [1,9,8,5] , [3,6,3,2] , [3,3,3,3], [0,2,5,9], [4,4,1,2] ] )
B=np.array( [ [1,-1,0,1,1] , [-2,0,2,-1,1] ] )

In [44]:
print(A)
print(B)

[[1 9 8 5]
 [3 6 3 2]
 [3 3 3 3]
 [0 2 5 9]
 [4 4 1 2]]
[[ 1 -1  0  1  1]
 [-2  0  2 -1  1]]

In [45]:
B@A

array([[  2,   9,  11,  14],
       [  8, -10, -14, -11]])

In [57]:
x = np.array([1,2,1,0,4])
y = np.array([2,1,-1,1,0])
z = np.array([-1,1,-1,0,0])

In [58]:
print(x)
print(y)
print(z)

[1 2 1 0 4]
[ 2  1 -1  1  0]
[-1  1 -1  0  0]

In [59]:
A = np.array([x,y,z]).T
A

array([[ 1,  2, -1],
       [ 2,  1,  1],
       [ 1, -1, -1],
       [ 0,  1,  0],
       [ 4,  0,  0]])

In [60]:
A.T@A

array([[22,  3,  0],
       [ 3,  7,  0],
       [ 0,  0,  3]])

In [61]:
A@A.T

array([[ 6,  3,  0,  2,  4],
       [ 3,  6,  0,  1,  8],
       [ 0,  0,  3, -1,  4],
       [ 2,  1, -1,  1,  0],
       [ 4,  8,  4,  0, 16]])

In [62]:
Count_DF = pd.DataFrame({'Женские стрижки': [10, 2, 12, 4, 6, 10, 22, 7], 
                                'Мужские стрижки': [5, 21, 12, 8, 25, 3, 1, 0], 
                                'Окрашивания':[12, 3, 0, 18, 27, 2, 4, 31],
                              'Укладка':[15, 25, 30, 14, 25, 17, 25, 31],
                                'Уход':[10, 6, 4, 5, 18, 12, 20, 28]
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])
Price_DF = pd.DataFrame({'Женские стрижки': [2, 1.8, 2, 1.8, 2.5, 5, 1.1, 4.5], 
                                'Мужские стрижки': [1.5, 2.5, 2, 1.2, 3.5, 5, 1, 4], 
                                'Окрашивания':[1, 1, 0, 2.8, 2, 3, 1.5, 2.5],
                              'Укладка':[0.8, 1, 0.5, 0.8, 1, 2, 0.5, 1],
                                'Уход':[1, 1, 2, 2, 1.5, 2.5, 1.7, 2] 
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])

In [63]:
Count_DF

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                 10                5           12       15    10
Борис                2               21            3       25     6
Вика                12               12            0       30     4
Галя                 4                8           18       14     5
Дима                 6               25           27       25    18
Егор                10                3            2       17    12
Женя                22                1            4       25    20
Юра                  7                0           31       31    28

In [64]:
Price_DF

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                2.0              1.5          1.0      0.8   1.0
Борис              1.8              2.5          1.0      1.0   1.0
Вика               2.0              2.0          0.0      0.5   2.0
Галя               1.8              1.2          2.8      0.8   2.0
Дима               2.5              3.5          2.0      1.0   1.5
Егор               5.0              5.0          3.0      2.0   2.5
Женя               1.1              1.0          1.5      0.5   1.7
Юра                4.5              4.0          2.5      1.0   2.0

In [70]:
np.array((Price_DF*Count_DF).loc['Борис'])

array([ 3.6, 52.5,  3. , 25. ,  6. ])

In [75]:
com = np.array([0.2, 0.2, 0.3, 0.1, 0.1])

In [82]:
1-com

array([0.8, 0.8, 0.7, 0.9, 0.9])

In [91]:
Price_DF.loc['Аня']*Count_DF.loc['Аня']

Женские стрижки    20.0
Мужские стрижки     7.5
Окрашивания        12.0
Укладка            12.0
Уход               10.0
Name: Аня, dtype: float64

Женские стрижки    10
Мужские стрижки     5
Окрашивания        12
Укладка            15
Уход               10
Name: Аня, dtype: int64

In [92]:
# Прибыль САЛОНА по стилистам
np.array((Price_DF*com*Count_DF).T.sum())

array([11.3 , 15.22, 11.9 , 20.6 , 41.9 , 21.2 , 11.49, 38.25])

In [95]:
# Или:
print((Price_DF*Count_DF)@(com))

Аня      11.30
Борис    15.22
Вика     11.90
Галя     20.60
Дима     41.90
Егор     21.20
Женя     11.49
Юра      38.25
dtype: float64

In [96]:
# Прибыль стилистов
np.array((Price_DF*(1-com)*Count_DF).T.sum())

array([ 50.2 ,  74.88,  59.1 ,  67.8 , 166.6 , 113.8 ,  66.21, 157.75])

In [97]:
# Или:
print((Price_DF*Count_DF)@(np.ones(5)-com))

Аня       50.20
Борис     74.88
Вика      59.10
Галя      67.80
Дима     166.60
Егор     113.80
Женя      66.21
Юра      157.75
dtype: float64

In [98]:
A = np.matrix([[1,2],[2,4]])
A

matrix([[1, 2],
        [2, 4]])

In [99]:
np.linalg.inv(A)

LinAlgError: Singular matrix

In [100]:
A = np.matrix([[1,2], [2,5]])
A

matrix([[1, 2],
        [2, 5]])

In [101]:
np.linalg.inv(A)

matrix([[ 5., -2.],
        [-2.,  1.]])

In [105]:
A = np.array([[1,0,3,5],
              [0,4,5,5],
              [0,0,0,0],
              [0,0,0,0]])

In [106]:
np.linalg.matrix_rank(A)

2

In [107]:
B = np.array([[1,0,3,5],
              [0,4,5,5],
              [0,0,0,4],
              [0,0,0,0]])

In [108]:
np.linalg.matrix_rank(B)

3