In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('main_task.csv')

In [3]:
df.sample(5)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
3965,id_610,Prague,"['Italian', 'Pizza', 'European', 'Internationa...",611.0,4.0,$$ - $$$,104.0,"[['Good location, outdoor seating, pity that.....",/Restaurant_Review-g274707-d2558041-Reviews-50...,d2558041
34234,id_3577,Paris,['Vegetarian Friendly'],3578.0,5.0,$,15.0,"[['The Famous Croque Monsieur'], ['07/07/2017']]",/Restaurant_Review-g187147-d12545586-Reviews-M...,d12545586
9264,id_1029,Lisbon,['Portuguese'],1030.0,4.5,$,26.0,"[['Awesome restaurant/bistro', 'Unbelievable l...",/Restaurant_Review-g189158-d5959963-Reviews-O_...,d5959963
5627,id_1418,Barcelona,"['Mediterranean', 'Spanish', 'Contemporary', '...",1419.0,4.0,$$ - $$$,170.0,"[['Lovely, open air feeling', 'Relaxing garden...",/Restaurant_Review-g187497-d8799903-Reviews-Sa...,d8799903
1468,id_1903,Prague,"['Italian', 'Indian', 'European', 'Czech']",1906.0,5.0,$,NaN,"[['Perfect bistro'], ['04/11/2017']]",/Restaurant_Review-g274707-d12135807-Reviews-B...,d12135807

In [4]:
df.isna().sum()

Restaurant_id            0
City                     0
Cuisine Style         9283
Ranking                  0
Rating                   0
Price Range          13886
Number of Reviews     2543
Reviews                  0
URL_TA                   0
ID_TA                    0
dtype: int64

In [5]:
len(df)

40000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [7]:
for i in df.iloc[0]: print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'str'>
<class 'str'>